<div class="container">
	<div class = "page-header">
		<div class="custom-centered">

			<h1>Registration Form</h1>

		</div>
	</div>
</div>
<div class="container">

	<form #regForm="ngForm" class="custom-centered" (ngSubmit)="onClickSubmit(regForm.value)">
		<div class="form-group">
			<label >First Name:</label>
      <input class="form-control"  type = "text" name = "firstName" placeholder = "first name"  >
  <br/>
       </div>
        <div class="form-group">
<label >Second Name:</label>
  <input class="form-control"  type = "text" name = "secondName" placeholder = "second name" ngModel>
  <br/>
        </div>
         <div class="form-group">
<label >EmailId:</label>
  <input class="form-control"  type = "text" name = "emailId" placeholder = "emailId" ngModel>
  <br/>
         </div>
          <div class="form-group">
<label >Mobile Number:</label>
  <input class="form-control"  type = "text" name = "phoneNo" placeholder = "Mobile Number" ngModel>
  <br/>
          </div>
           <div class="form-group">
<label >Address:</label>
  <input class="form-control"  type = "Address" name = "Address" placeholder = "Address" ngModel>
  <br/>
           </div>
            <div class="form-group">

  <input class="btn btn-success" type = "submit" value = "submit">
            </div>
</form>
  
</div>